---
layout: layouts/project.njk
---

<div class="post">
  <header class="post__header">
    <time class="post__date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    <h2 class="post__title">{{ title }}</h2>
  </header>
  <div class="post__body">
    {{ content | safe }}
  </div>
</div>
