---
layout: layouts/base.njk
---

<header class="site-header">
  <h1 class="site-header__title">
    <a href="/">{{ site.title }}</a>
  </h1>
</header>

<main class="site-main">
  {{ content | safe }}
</main>

<footer class="site-footer">
  <p>{{ site.footerText | safe }}</p>
</footer>